<p> Input coment:
    {{comment}} 
</p>

<!-- Brane dane w oparciu o model-->
<div class="single-comment">
  <p> 
      Author: {{comment1.author}} 
  </p>
  <p>
      Date: {{comment1.date | date:'shortDate'}}
  </p>
  <p>
      Comment: {{comment1.content}}
  </p>
</div>

<!-- Test wyświetlania z arraylisty komentarzy :-) działa, trzeba sprawdzić jeszcze sposób wyświetlania tego tutaj, raczej przeniesiemy to do Blog-post zamiast tu wyświetlać-->
<div class="single-comment" >
        <ul class="comment-list">
            <li *ngFor="let comment of commentArray">
                <p>Author: {{comment.author}}</p>
                <p>Date: {{comment.date | date:"shortDate"}}</p>
                <p>Comment: {{comment.content}}</p>
            </li>
        </ul>
    
</div>