<div id="post-wrapper">
  <button type="button" class="btn btn-primary" (click)="toggleEditMode()">edytuj</button> 
  <h1 *ngIf="!isInEditMode">Tytuł: {{post.title}}</h1>
  <input *ngIf="isInEditMode" type="text" [(ngModel)]="post.title"/>
  <h2>data dodania: {{post.date | date:'shortDate'}}</h2> 
  <span>treść: {{post.content}}</span> 
</div>

<div id="comment-wrapper">
    <h2>Komentarze:</h2> 
    <div class="comment-list">     
      <post-comment [comment]="comment"></post-comment>
    </div>
</div>
